[Unit]
Requires=container-traefik.service
After=container-traefik.service
Requires=container-traefik-proxy@%i.socket
After=container-traefik-proxy@%i.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:%i